* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 30px;
    display: flex;
    margin-right: 20px;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2 {
    text-align: center;
}

form select,input {
    width: 100%;
}

div.film-box {
    width: 100%;
}

div.film-box {
    width: 100%;
}

div.film-box img {
    width: 100%;
}