* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 30px;
    display: flex;
    margin-right: 20px;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2 {
    text-align: center;
}

.container img {
    width: 100%;
}

.container {
    width: 100%;
    position: relative;
     text-align: center;
     color: white;
     display: flex;
}

.bottom-left {
  position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #47474780;
}

h3 {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

img.more-button {
    width: 42px;
    height: 42px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-self: center;
}