* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 30px;
    display: flex;
    margin-right: 20px;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2 {
    text-align: center;
}

.container img {
    width: 100%;
}

.container {
    width: 100%;
    position: relative;
     text-align: center;
     color: white;
     display: flex;
}

.bottom-left {
  position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #47474780;
}

h3 {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

div.modal {
    padding: 0;
    border-radius: 25px;
}

img.screen-still {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

section.title_and_score {
    display: flex;
    
}

/*a {
    display: flex;
}

img.more-button {
    width: 42px;
    height: 42px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-self: center;
}

div.modal {
    width: 100%;
    padding: 0;
    border-radius: 25px;
}

img.screen-still {
    position: relative;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: auto;
}

span.reviews {
    display: flex;
    align-items: center;
    border: solid 1px black;
    padding: 3px;
    margin-left: 10px;
    font-size: 16px;
    
}

span.reviews img {
    width: 20px;
    padding-left: 4px;
}
*/